/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    width: 100%;
  height: 400px;
background-image: url("https://img.freepik.com/premium-photo/abstract-colorful-wallpaper_692702-9806.jpg?w=740");

background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;


}
